:host input {
  padding: 8px;
  display: block;
  /*border: 2px green solid;*/
  border-bottom: 1px solid #ccc;
  width: 98%;
  margin-bottom: 16px!important;
}

.field.error > * {
  background: lightcoral;
  color: white;
}
