<app-ui-loader [visible]="(profile$ | async)?.isFetching"></app-ui-loader>

<div id="container-login">
  <!--<app-ui-notes type="info" text="Please login below to view your dashboard"></app-ui-notes>-->
  <app-ui-card title="Sign up for an Account Below">
    <form id="container-login-form" class="form" [formGroup]="form">
      <app-ui-input label="Username" placeholder="Enter Username" [control]="form.get('username')"></app-ui-input>
      <app-ui-input label="Password" placeholder="Enter Password" [control]="form.get('password')"></app-ui-input>
      <div id="container-login-button">
        <app-ui-button [disabled]="!form.valid" text="Login" (click)="submitLogin()"></app-ui-button>
      </div>
      <div class="padding-bottom-20"></div>
    </form>
  </app-ui-card>

</div>
